@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../styles/bootstrap/bootstrap";

body{
    text-align: center;
}

.panel-heading{
 a {
    cursor: pointer;
    display: block;
    text-transform: capitalize;
 }
}

.mtHeader{
    margin: 15px;
    text-align: center;
    font-size: 4em;
    color: purple;

    &:before{
        content: "Mine timer";
    }
}

#react {
    font-size: 14px;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.employeeInput{
    margin: 0 auto;
    display: block;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
}

.panel-group {
    .panel + .panel {
        margin-top: 0px;
    }
    .panel-default{
        border-radius: 0;
    }
}

.montViewWrapper{
    display: flex;
    justify-content: space-between;

    div{
        align-self: center;
    }

    > div:first-child {
        font-size: 3em;
    }
}


.totalRevenue{
    float: right;
}

.employeeSearchWrapper{
    margin-top: 40px;
}

button{
    border: none;
    padding: 6px 15px;
    margin: 15px auto 0px auto;
    display: block;
    cursor: pointer;
}

.employeeView{
    margin: 0 auto;
}

.employeeSummary{
    font-size: 1.4em;
    padding: 12px 10px;
    background-color: cadetblue;

    @media screen and(max-width: 400px){
        font-size: 1em;
    }
}

.employeeMonthRow{
    padding: 10px 10px;
    border: 1px solid;
}

.btn-primary{
    background-color: cadetblue;
    font-size: 1.1em;
}

.totalHours{
    text-align: center;
    font-size: 3.5em;
}